@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Ropa+Sans');

/*html, body {
    overflow: hidden;
}*/

.hide-overflow {
    overflow-y: hidden;
}

.show-overflow {
    overflow-y: auto;
}

body {
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.025em;
}

.icon-titles ul, .top-navbar, .custom-slider-button-toggle {
    font-family: 'Ropa Sans', sans-serif;
}

.ng-view-frame {
    position: absolute;
    height: -webkit-calc(100% - 350px);
    height: -moz-calc(100% - 350px);
    height: calc(100% - 350px);
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    margin-top: 350px;
}

.angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.size_map_small {
    position: absolute;
    height: 350px;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.size_map_full {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.margin_top_content {
    margin-top: 25px;
}

.navbar-fixed-left {
    width: 56px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;
    /* Cancel default li float: left */
    width: 139px;
}

.container {
    padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

.background_white {
    background-color: #fff;
}

.wheather-img {
    max-width: 400px;
}

.test05 {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
}

/* SIDE NAVBAR */

.hamburger-icon img {
    width: 20px;
}

.hamburger-icon {
    padding: 17px;
    border-bottom: solid 1px #232323;
    outline: none;
}

.sidenav ul {
    list-style-type: none;
    padding-left: 0;
}

.left1 {
    margin-left: 48px;
    margin-top: 52px;
    padding-top: 1px;
    z-index: 4;
    background-color: #151515;
    width: 250px;
}

md-sidenav {
    position: fixed;
}

md-backdrop.md-sidenav-backdrop {
    display: none
}

.navbar-inverse {
    z-index: 5;
    background-color: #151515;
}

.sidenav {
    color: white;
    /*border-right: 1px solid #232323;*/
    border-right: 0px solid #232323;

}

.sidenav .icons ul li {
    border-top: 1px solid #232323;
}

.sidenav .icons ul a:first-child li img {
    padding: 10px 0;
}

.sidenav .icons ul li img {
    width: 25px;
}

.sidenav ul li {
    padding: 12.5px;
}

.sidenav .title {
    padding: 21px 0;
}

.kha-logo-wrapper {
    padding: 15px;
    border-bottom: 1px solid #232323;
}

.social-media-checklist ul li.active {
    color: #000;
    background-color: #fff;
    border-radius: 0;
    -moz-transition: all 0.1s linear;
    /* WebKit */
    -webkit-transition: all 0.1s linear;
    /* Opera */
    -o-transition: all 0.1s linear;
    /* Standard */
    transition: all 0.1s linear;
}

/*.kha-logo {
    text-align: center;
}

.kha-logo img {
    height: 43.5px;
}*/

.icon-titles ul {
    font-size: 16px;
    list-style-type: none;
    padding: 0;
}

.icon-titles ul li {
    padding: 13.9px 14px 14px 14px;
    border-bottom: 1px solid #232323;
}

.icon-titles a, .icon-titles li {
    color: #fff;
    outline: none;
}

.icon-titles a:hover, .icon-titles li:hover {
    color: white;
    text-decoration: none;
}

.sidenavtest {
    width: 298px;
    transition-duration: 0.3s;
}

/*.sidenavtest.sidenav span {
    opacity: 1;
    transition-duration: 0.3s;
    display: inline-block;
}*/

.sidenav {
    overflow: hidden;
    transition-duration: 0.3s;
    font-family: 'Ropa Sans', sans-serif;
}

.sidenav ul {
    width: 298px;
}

.sidenav span {
    margin-left: 20px;
}

.sidenav .icons ul li span img {
    width: 170px;
    margin-left: 25px;
}

.sidenav a {
    color: white;
    text-decoration: none;
}


/*.sidenav span {
    opacity: 0;
    transition-duration: 0.3s;
    display: none;
}*/

/* TOP NAVBAR */

.top-navbar {
    background-color: #151515;
    margin-left: 50px;
    color: white;
    z-index: 5;
    font-size: 14px;
    border-bottom: solid 1px #232323;
    position: fixed;
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: calc(100% - 50px);
}

.top-navbar .date {
    width: 250px;
    text-align: center;
}

.dropdownTest, .dropdownShow {
    position: fixed;
    background-color: #202020;
    width: 300px;
    /*margin-left: -19px;*/
    margin-left: -17px;
    top: 0;
    margin-top: 55px;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 3;
}

.dropdownTest {
    height: 0;
    visibility: hidden;
}

.dropdownShow {
    height: -webkit-calc(100% - 52.44px);
    height: -moz-calc(100% - 52.44px);
    height: calc(100% - 52.44px);
    visibility: show;
}

.social-media-checklist {
    /*padding-top: 5px;*/
}

.social-media-checklist ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.social-media-checklist ul li {
    display: inline-block;
    padding: 17.5px;
}

.social-media-checklist label {
    margin-bottom: 0;
    font-weight: normal;
    margin-left: 8px;
}

.social-media-checklist ul li label:last-child {
    cursor: pointer;
}

.social-media-checklist ul li:nth-child(-n+2) {
    border-right: solid 1px #232323;
    margin-left: -2px;
}

.search-input {
    height: 55px;
}

.search-input input[type="text"] {
    height: 55px;
    border: none;
    background-color: #121212;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 14px;
    border-left: solid 1px #fff;
    width: 240px;
    padding-left: 20px;
    margin-right: -4px;
    padding-bottom: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.15);
}

.search-input ul {
    list-style-type: none;
}

.search-input ul li {
    display: inline-block;
}

.search-input ul li:last-child {
    cursor: pointer;
}

.btn-search {
    background: linear-gradient(45deg, #cd1739 0%, #a41c18 100%);
    padding: 19px 20px 16.5px 20px;
}

.btn-search img {
    width: 15px;
}

.search-results {
    background-color: #202020;
    color: black;
    position: absolute;
    margin-top: 1.5px;
    width: 100%;
    top: 54px;
}

ul.search-results {
    list-style-type: none;
    padding-left: 0;
}

ul.search-results li {
    display: block;
    height: auto;
    padding: 15px;
}

ul.search-results a {
    color: white;
}

label {
    display: inline;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: #151515;
    border: 1px solid #a41c18;
    padding: 6px;
    display: inline-block;
    position: relative;
    margin-bottom: -2px;
    cursor: pointer;
}

.regular-checkbox:checked + label {
    background: linear-gradient(45deg, #cd1739 0%, #a41c18 100%);
    border: 1px solid #a41c18;
    color: #99a1a7;
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.65);
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.65);

}

.top-trending {
    padding: 20px;
    background-color: #fff;
    color: #000;
}

.social-media-checklist ul li .trending-now ul li, .social-media-checklist ul li .trending-near ul li {
    border-right: none;
    color: #000;
}

.trending-now ul li, .trending-near ul li {
    border-bottom: solid 1px #232323;
    width: 100%;
}

.trending-now h4 {
    margin-bottom: 20px;
}

.trending-now .place, .trending-near .place {
    margin-right: 10px;
}

.trending-now, .trending-near {
    margin-bottom: 40px;
}

.trending-now a, .trending-near a {
    color: white;
}

#trending-wrapper {
    overflow-y: auto;
    background-color: #fff;
    /*border-left: 1px solid #212121;*/
    /*border-right: 1px solid #212121;*/
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.75);
}

/* HOMEPAGE */

.welcome-message {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 3000;
    position: absolute;
    padding: 20px;
    overflow-y: auto;
}

.welcome-message .title h3 {
    margin-top: 0;
}

.welcome-message .title {
    margin-bottom: 15px;
}

.overlay-back {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 3000;
    position: absolute;
    padding: 20px;
}

.instructions .small-seperator {
    margin-top: 2px;
}

.instructions h4 {
    margin-bottom: 0;
}

.instructions .title {
    margin-bottom: 10px;
    outline: none;
}

.instruction {
    display: none;
}

.not-active-arrow img {
    height: 15px;
    /*transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);*/
}

.active-arrow img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.btn-default {
    background: linear-gradient(45deg, #cd1739 0%, #a41c18 100%);
    color: white;
}

.btn-default:hover {
    color: white;
    background: linear-gradient(45deg, #be1739 0%, #981511 100%);
}

/* DETAIL PAGE */

.no-info {
    min-height: 100%;
    background-color: #e0e0e0;
}

.hide-info {
    margin-left: 250px;
}

.hide-info .col-md-6 {
    text-align: center;
    background-color: red;
    padding: 20px;
    margin-top: 50px;
}

.section-wrapper {
    margin-left: 50px;
}

.subcategories-menu-wrapper {
    /*background-color: #202020;*/
    background-color: #383838;
    width: 243px;
    margin-left: 5px;
    position: fixed;
    margin-top: -298px;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
    border-right: 1px solid #232323;
    overflow-y: auto;
}

.subcategories-menu .even {
    /*background-color: #1c1c1c;*/
    background-color: #565656;
}

.subcategories-menu a {
    color: white;
}

.subcategories-menu ul {
    list-style-type: none;
    padding-left: 0;
}

.subcategories-menu ul li {
    padding: 10px;
}

.subcategories-menu ul ul p {
    padding: 10px;
    border-bottom: 1px solid #232323;
    margin-bottom: 0;
    color: #656565;
    outline: none;
    color: white;
}

.subcategories-menu ul ul p:last-child {
    margin-bottom: 10px;
    border-bottom: none;
}

.subcategories-menu ul ul .place {
    margin-right: 10px;
    color: #9b9b9b;
}

.subcategories-menu ul ul .active .place {
    color: #383838;
}

.subcategory-active:first-child {
    border-left: 3px solid #cd172c;
}

.subcategory-arrow img {
    width: 18px;
}

.poi-details-wrapper {
    margin-left: 250px;
    background-color: #e0e0e0;
    padding-bottom: 30px;
}

.poi-details .col-md-6 {
    padding: 0;
}

.subcategories-menu-wrapper .col-md-12 {
    padding: 0;
}

.detail-top-place {
    cursor: pointer;
}

.poi-text, .poi-photo-wrapper, #morris-analytics {
    background-color: white;
}

.poi-photo-wrapper {
    margin: 25px 0;
    text-align: center;
}

.poi-photo-wrapper img.slide {
    height: auto;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.poi-photo-wrapper {
    transition-duration: 1s;
}

.left-arrow, .right-arrow {
    position: absolute;
    height: calc(100% - 50px);
    width: 80px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1000;
    top: 0;
    margin: 25px 0;
    transition-duration: 0.3s;
    outline: none;
}

.right-arrow {
    right: 15px;
}

.left-arrow img, .right-arrow img {
    height: 22px;
    width: 12px;
    position: relative;
    top: 50%;
    opacity: 0.8;
}

.left-arrow:hover, .right-arrow:hover {
    background: rgba(255, 255, 255, 0.5);
    transition-duration: 0.3s;
}

.poi-photo-wrapper img.ng-hide {
    opacity: 0;
}

.show {
    opacity: 1;
    transition-duration: 0.7s;
}

.temp-photo {
    padding: 20px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    height: 350px;
}

.no-animate {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-indicators li {
    border: 1px solid #a31c18;
}

.carousel-indicators .active {
    background-color: #cd1738;
}

.poi-text {
    min-height: 420px;
    margin: 25px 0;
    padding: 20px;
    position: relative;
}

.icons ul li.active {
    background-color: rgba(255, 255, 255, 0.15)
}

.icon-titles ul li.active {

    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
}

.subcategories-menu ul ul p.active {
    background-color: rgba(255, 255, 255, 0.5);
}

.node-title {
    margin-bottom: 20px;
}

.node-title h1 {
    margin: 0;
}

.small-seperator {
    width: 20px;
    height: 2px;
    background-color: #cd172c;
    margin-top: 10px;
}

.icon_navbar_top {
    height: 5px;
    width: 15px;
    margin-top: -2px;
    padding-left: 5px;
}

.apen-link {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.apen-link a {
    color: black;
}

.apen-link img {
    margin-left: 10px;
    margin-bottom: 2px;
    height: 14px;
}

.node-body {
    margin-bottom: 30px;
}

.stats-analytics {
    background-color: white;
    padding: 10px;
}

.social-media-stream {
    background-color: white;
}

.social-media-stream .user-photo img {
    width: 100px;
    border-radius: 100%;
}

.social-media-stream .social-media-item {
    padding: 20px;
}

.no-social-media-items {
    text-align: center;
    padding: 20px;
}

.pagination {
    text-align: center;
}

.svg_navbar svg {

}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #cc1739;
    border: 1px solid #a31c18;
    cursor: pointer;
}

.pagination > li > a, .pagination > li > span {
    cursor: pointer;
}

.social-media-stream .date {
    padding-top: 10px;
}

.poi-search-details {
    margin-left: 0;
}

.morris-hover {
    position: absolute;
    z-index: 1000
}

.morris-hover.morris-default-style {
    border-radius: 10px;
    padding: 6px;
    color: #666;
    background: rgba(255, 255, 255, 0.8);
    border: solid 2px rgba(230, 230, 230, 0.8);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: 0.1em 0
}

.poi-details .extra-info {
    height: 50px;
    background-color: white;
    margin: 20px 0 0 0;
}

.poi-details .node-hours ul{
    padding: 0;
    list-style-type: none;
    margin: 10px 0 30px 0;
}

.poi-details .node-yelp .yelp-info {
    margin: 10px 0 30px 0;
}

/* VERKEER SECION 7 */

.tweets {
    margin-top: 20px;
}

.tweet-photo img {
    width: 60px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.tweet-photo {
    text-align: center;
}

.tweets .panel-heading {
    background: linear-gradient(45deg, #cd1739 0%, #a41c18 100%);
}

.tweets .twitter-logo img {
    width: 25px;
}

.tweets .panel-heading a {
    color: white;
}

.tweets .tweet-title {
    margin: 0 0 20px 15px; 
}

/*#verkeer-antwerpen h2, #verkeerscentrum-antwerpen h2, #ring-antwerpen h2 {
    text-align: center;
}

.verkeer .tweet {
    padding: 15px 5px;
}

.nav-tweets ul {
    list-style-type: none;
    padding: 0;
}

.nav-tweets ul li {
    display: inline-block;
    margin: 0 10px;
}

.nav-tweets {
    margin-top: 20px;
    text-align: center;
}*/

.div{
    z-index: 6;
}




.div .overlay_1_1-able {
    z-index: 6;
    position: absolute;
    bottom: -56px;
    height: 56px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 15px 5px 35px 35px;
    right: 0;
    width: -webkit-calc(100% - 56px);
    width: -moz-calc(100% - 56px);
    width: calc(100% - 56px);
    background: #fff;
}

.div .overlay_1_1-disabled {
    z-index: 6;
    position: absolute;
    bottom: 0;
    height: 85px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 15px 5px 35px 35px;
    right: 0;
    width: -webkit-calc(100% - 56px);
    width: -moz-calc(100% - 56px);
    width: calc(100% - 56px);
    background: #fff;
}

.tweet-title .small-seperator {
    margin-top: 0px;
}

.tweet-title h1 {
    margin-bottom: 0;
}

/* WEATHER PAGE */

.weather {
    margin-top: -300px;
    background-color: white;
}

.weather {
    padding-top: 30px;
}

.black {
    background-color: black;
    border: 1px solid blue;
    height: 200px;
}

.green {
    background-color: green;
    border: 1px solid blue;
    height: 200px;
}

.yellow {
    background-color: yellow;
    border: 1px solid blue;
    height: 200px;
}

.red {
    background-color: red;
    border: 1px solid blue;
    height: 200px;
}

#card {
    background: #fff;
    box-shadow: 0px 1px 10px 0px rgba(207, 207, 207, 1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.city {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.temp {
    font-size: 73px;
    display: block;
    position: relative;
    font-weight: bold;
}

.temp-min {
    font-size: 15px;
    display: block;
    font-weight: bold;
}

.temp-max {
    font-size: 15px;
    display: block;
    font-weight: bold;
}

.day-big {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.day-small {
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.background.panel-heading {
    background: linear-gradient(45deg, #cd1739 0%, #a41c18 100%);
    color: #fff;
}

.city-selected img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 7;
    opacity: 0.6;
}

.margin-top-1 {
    margin-top: 1%;
}

.margin-top-2 {
    margin-top: 2%;
}

.margin-top-3 {
    margin-top: 3%;
}

.margin-top-4 {
    margin-top: 4%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-10 {
    margin-top: 10%;
}

.center-weather {
    text-align: center;
}

.weer-title {
    margin-left: 30px;
    margin-bottom: 20px;
}

.weer-title h1 {
    margin-bottom: 0;
}

.weer-title .small-seperator {
    margin-top: 0;
}

.web_cam {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: -15%;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
}

.image2 {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 25px;
    background-color: #fff;
}

.image3 {
    position: absolute;
    bottom: 0;
    right: 2%;
}

.weather .tweets {
    margin-top: 0;
}

.buienradar {
    border-radius: 50%;
    border: 5px solid #ffffff;
    height: 250px;
    opacity: 0.3;
}

.buienradar:hover {
    border-radius: 50%;
    border: 5px solid #ffffff;
    height: 250px;
    opacity: 1;
}

/* slider customization*/

.custom-slider.rzslider .rz-bar {
    background: #151515;
    height: 6px;
    top: 6px;
    border-radius: 0;
    margin-left: 4px;
}

/*slider line between two circle */
.custom-slider.rzslider .rz-selection {
    background: #000;
}

/*two circle of slider*/
.custom-slider.rzslider .rz-pointer {
    width: 14px;
    height: 14px;
    top: -14px;
    /* to remove the default positioning */
    bottom: 0;
    background-color: #bf2336;
    border-radius: 100%;
    margin-left: 4px;
}

.custom-slider.rzslider .rz-pointer:after {
    display: none;
}

.custom-slider.rzslider .rz-bubble {
    /*display: none;*/
    padding-left: 20px;
    top: -35px; /* to remove the default positioning */
}

.custom-slider.rzslider .rz-bubble:after {
    content: " Uur";
}

.custom-slider.rzslider .rz-tick {
    width: 1px;
    height: 18px;
    border-radius: 0;
    background: #000;
    top: -13px
}

.custom-slider.rzslider .rz-tick:nth-child(even) {
    height: 10px;
    top: -9px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
    background: #000;
}

.custom-slider.rzslider {
    /*float: left;
    width: -webkit-calc(100% - 296px);
    width: -moz-calc(100% - 296px);
    width: calc(100% - 296px);*/
}

.rz-bar-wrapper {
    max-width: 100%;
}

.datapicker_custom {
    float: right;
    display: inline-block;
    max-width: 20%;
}

.time_line {
    max-width: 100%;
}

.slider_custom {
    float: left;
    display: inline-block;
    width: 80%;
}

.custom-slider.rzslider .rz-bar {
    background-color: rgba(13, 13, 13, 0.5);
}

.rz-tick-value {
    color: #656565;
    font-size: 11px;
    bottom: 10px;
}

.rzslider .rz-tick-value {
    top: 18px;
}

@media screen and (max-width: 1180px) {
    .rz-tick-value {
        font-size: 8px;
    }
}

@media screen and (max-width: 1024px) {
    .rz-tick-value {
        opacity: 0;
    }
}

.rz-tick:nth-child(even) .rz-tick-value {
    /*bottom: -19px !important;*/
}
:nth-child(2n).rz-tick .rz-tick-value{
    top: 14px;
}

.datepicker {
    border-left: 1px solid #232323;
    float: right;
    height: 56px;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    right: -200px;
    width: 296px;
}

md-content, md-datepicker {
    background: #fff;
}

button.md-datepicker-button {
    background: linear-gradient(45deg, #cd1739 0%, #a41c18 100%);
    /*float: right;*/
    height: 56px !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 56px !important;
}

.md-button.md-icon-button {
    border-radius: 0;
}

.md-datepicker-input-container {
    border: 0;
    float: left;
}

.md-datepicker-input-container input {
    color: #000;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 14px;
    padding: 18px 0;
}

.md-datepicker-calendar-icon svg {
    fill: #fff;
}

.custom-slider-button-toggle {
    background: linear-gradient(45deg, #cd1739 0%, #a41c18 100%);
    color: #fff;
    border: 0;
    padding: 10px 12px 8px 12px;
    position: absolute;
    top: -38px;
    right: -webkit-calc(50% - 56px);
    right: -moz-calc(50% - 56px);
    right: calc(50% - 56px);
    text-transform: uppercase;
}

.toggleSlider {
    height: 100px;
}

/* SIDENAVBAR OPEN */

.tweets.col-md-12, .row.margin-top-1, .poi-search-details .poi-details {
    transition-duration: 0.3s;
    width: 100%;
}

.tweets.sidenav-open.col-md-12, .row.margin-top-1.sidenav-open, .row.webcam.sidenav-open img.web_cam, .poi-search-details .sidenav-open.poi-details {
    transition-duration: 0.3s;
    width: calc(100% - 250px);
    margin-left: 250px;
}

.row.webcam img.web_cam {
    transition-duration: 0.3s;
    /*width: 100%;*/
}

/* scrollbar */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #cd1739 0%, #a41c18 100%);
}

@media screen and (max-width: 1101px) {
    .datapicker_custom {
        float: right;
        display: inline-block;
        max-width: 30%;
    }

    .slider_custom {
        float: left;
        display: inline-block;
        width: 70%;
    }

    .map-checkbox {
        display: none !important;
    }
}

@media screen and (max-width: 765px) {
    .datapicker_custom {
        padding-left: 15px;
        max-width: 15%;
    }

    .slider_custom {
        max-width: 85%;
    }

    .date {
        display: none !important;

    }
}

@media screen and (max-width: 600px) {
    .datapicker_custom {
        padding-left: 15px;
        max-width: 30%;
    }

    .slider_custom {
        max-width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .datapicker_custom {
        max-width: 100%;
    }

    .slider_custom {
        max-width: 100%;
    }
}

@media screen and (max-device-width: 480px) and (orientation: portrait), screen and (max-device-width: 1000px) and (orientation: landscape) {
    .map-checkbox {
        display: none !important;
    }

    .left1 {
        width: 100%;
    }

    .welcome-message {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        height: 100%;
        /*margin-top: 20px;*/
    }

    .poi-details .col-md-6 {
        padding-right: 20px;
        margin-left: 20px;
    }

    md-sidenav {
        max-width: 100% !important;
        width: 100%;
    }

    md-sidenav div {
        width: inherit;
    }

    .sidenav .icons ul li span img {
        margin-left: 45px;
    }

    .social-media-checklist {
        width: -webkit-calc(100% - 55px);
        width: -moz-calc(100% - 55px);
        width: calc(100% - 55px);
    }

    .social-media-checklist ul {
        width: 100%;
    }

    .social-media-checklist .btn-trending {
        font-size: 80%;
        height: 55px;
        padding: 20px 0;
        text-align: center;
        width: 50%;
    }

    .search-input {
        width: 55px;
    }

    .search-input ul {
        margin-left: -142px;
    }

    ul li.date {
        display: none;
    }

    .search-input input[type="text"] {
        width: 100px
    }

    .search-results {
        right: 0;
    }

    .div .overlay_1_1-able {
        position: absolute;
        bottom: -135px;
        height: 135px;
        padding: 0px 35px;
    }

    .div .overlay_1_1-disabled {
        position: absolute;
        bottom: 0;
        height: 135px;
        padding: 10px 35px;
    }

    /*.sidenav .icons, .sidenav .title {
        display: none;
    }*/

    .navbar.navbar-inverse.navbar-fixed-left.sidenav {
        height: 56px;
    }

    .navbar.navbar-inverse.navbar-fixed-left.sidenav.sidenavtest {
        height: 100%;
        width: 100%;
    }

    .sidenavtest ul {
        width: 100%;
    }

    .sidenav {
        height: auto;
        border-bottom: none;
    }

    .left1 {
        margin-left: 0;
    }

    .subcategories-menu-wrapper {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        position: static;
    }

    .section-wrapper, .poi-details-wrapper {
        margin-left: 0;
    }

    .poi-details, .poi-details .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .dropdownTest, .dropdownShow {
        left: 0;
        margin-left: 0;
    }

    .buienradar {
        height: 150px;
    }

    .div .overlay_1_1-disabled, .div .overlay_1_1-able {
        width: 100%;
    }

    .datapicker_custom {
        float: right;
        display: inline-block;
        max-width: 100%;
    }

    .slider_custom {
        float: left;
        display: inline-block;
        width: 100%;
    }

}
