.ng-view-frame {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
    background-color: #fff;
    margin-top: 350px;
}

.verkeer, .weather {
    margin-top: -300px;
    background-color: white;
}

.angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -150;
}

.margin_top_content {
    margin-top: 25px;
}

.navbar-fixed-left {
    /*width: 60px;*/
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 139px;
}

.container {
    padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

.background_white {
    background-color: #fff;
}

.wheather-img {
    max-width: 400px;
}

.test05 {
    transition-duration: 1s;
}

/* SIDE NAVBAR */

.hamburger-icon img {
    width: 20px;
}

.hamburger-icon {
    padding: 16px 15px 15px 15px;
    border-bottom: solid 1px #343434;
    outline: none;
}

.sidenav ul {
    list-style-type: none;
    padding-left: 0;
}

.left1 {
    margin-left: 48px;
    margin-top: 52px;
    padding-top: 1px; 
    z-index: -5;
    background-color: #151515;
    width: 250px;
}

.left2 {
    width: 520px;
    margin-left: 48px;
    z-index: -6;
    background-color: #202020;
    max-width: 520px;
}

md-sidenav {
    position: fixed;
}

md-backdrop.md-sidenav-backdrop{
    display:none
}

.navbar-inverse {
    background-color: #151515;
}

.sidenav {
    color: white;
    border-right: 1px solid #343434;
}

.sidenav .icons ul li {
    border-top: 1px solid #343434;
}

.sidenav .icons ul li img {
    width: 25px;
}

.sidenav ul li {
    padding: 12.5px;
}

.sidenav .title {
    padding: 21px 0;
}

.kha-logo-wrapper {
    height: 250px;
    padding: 20px;
    border-bottom: 1px solid #343434; 
}

.kha-logo {
    background-color: #1c1c1c;
    height: 100px;
    width: 100%;
}

.icon-titles ul {
    list-style-type: none;
    padding: 0;
}

.icon-titles ul li {
    padding: 15.17px 15px;
    border-bottom: 1px solid #343434;
}

.icon-titles a, .icon-titles li {
    color: #656565;
    outline: none;
}

.icon-titles a:hover, .icon-titles li:hover {
    color: white;
    text-decoration: none;
}

/* TOP NAVBAR */

.top-navbar {
    background-color: #151515;
    margin-left: 50px;
    color: white;
    z-index: -4;
    font-size: 12px;
    border-bottom: solid 1px #343434;
    position: fixed;
    width: calc(100% - 50px);
}

.date {
    width: 250px;
    text-align: center;
}

.dropdownTest, .dropdownShow {
    position: fixed;
    background-color: #202020;
    width: 300px;
    margin-left: -19px;
    top: 0;
    margin-top: 52.44px;
    overflow: hidden;
    transition-duration: 0.3s;
    z-index: -7;
}

.dropdownTest {
    height: 0;
    visibility: hidden;
}

.dropdownShow {
    height: calc(100% - 52.44px);
    visibility: show;
}

.social-media-checklist {
    /*padding-top: 5px;*/
}

.social-media-checklist ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.social-media-checklist ul li {
    display: inline-block;
    padding: 17.5px;
}

.social-media-checklist label {
    margin-bottom: 0;
    font-weight: normal;
    margin-left: 8px;
}

.social-media-checklist ul li label:last-child {
    cursor: pointer;
}

.social-media-checklist ul li:nth-child(-n+3) {
    border-right: solid 1px #343434;
    margin-left: -2px;
}

.search-input {
    height: 50px;
}

.search-input li {
    height: 48px;
}

.search-input input[type="text"] {
    height: 100%;
    border: none;
    background-color: #121212;
    border-left: solid 1px #343434;
    width: 240px;
    padding-left: 20px;
    margin-right: -2px;
}

.search-input ul {
    list-style-type: none;
}

.search-input ul li {
    display: inline-block;
}

.search-input ul li:last-child {
    cursor: pointer;
}

.btn-search {
    background: linear-gradient(45deg, #cd1739 0%,#a41c18 100%);
    padding: 19px 20px 15px 20px;
}

.btn-search img {
    width: 15px;
}

label {
    display: inline;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: #151515;
    border: 1px solid #a41c18;
    padding: 6px;   
    display: inline-block;
    position: relative;
    margin-bottom: -2px;
    cursor: pointer;
}

.regular-checkbox:checked + label {
    background: linear-gradient(45deg, #cd1739 0%,#a41c18 100%);
    border: 1px solid #a41c18;
    color: #99a1a7;
}

.top-trending {
    padding: 20px;
}

.social-media-checklist ul li .trending-now ul li, .social-media-checklist ul li .trending-near ul li {
    border-right: none;
}

.trending-now ul li, .trending-near ul li {
    border-bottom: solid 1px #343434;
    width: 100%;
}

.trending-now h4 {
    margin-bottom: 20px;
}

.trending-now .place, .trending-near .place {
    margin-right: 10px;
}

.trending-now, .trending-near {
    margin-bottom: 40px;
}

.trending-now a, .trending-near a {
    color: white;
}

/* HOMEPAGE */



/* DETAIL PAGE */

.section-wrapper {
    margin-left: 50px;
}

.subcategories-menu-wrapper {
    background-color: #202020;
    width: 247px;
    margin-left: 1px;
    position: fixed;
    margin-top: -298px;
    height: calc(100% - 50px); 
    border-right: 1px solid #343434;
    overflow-y: scroll;
}

.subcategories-menu .even {
    background-color: #1c1c1c;
}

.subcategories-menu a {
    color: white;
}

.subcategories-menu ul {
    list-style-type: none;
    padding-left: 0;
}

.subcategories-menu ul li {
    padding: 10px;
    margin-bottom: 5px;
}

.subcategories-menu ul ul p {
    padding: 10px;
    border-bottom: 1px solid #343434;
    margin-bottom: 0;
    color: #656565;
    outline: none;
    color: white;
}

.subcategories-menu ul ul p:last-child {
    margin-bottom: 10px;
    border-bottom: none;
}

.subcategories-menu ul ul .place {
    margin-right: 10px;
    color: #707070;
}

.subcategory-active:first-child {
    border-left: 3px solid #cd172c;
}

.subcategory-arrow img{
    width: 18px;
}

.poi-details-wrapper {
    margin-left: 250px;
}

.poi-details {
    padding: 10px;
}

.subcategories-menu-wrapper .col-md-12 {
    padding: 0;
}

.detail-top-place {
    cursor: pointer;
}

/* VERKEER SECION 7 */
#verkeer-antwerpen h2, #verkeerscentrum-antwerpen h2, #ring-antwerpen h2 {
    text-align: center;
}

.verkeer .tweet {
    padding: 15px 5px;
}

.nav-tweets ul {
    list-style-type: none;
    padding: 0;

}

.nav-tweets ul li {
    display: inline-block;
    margin: 0 10px;
}

.nav-tweets {
    margin-top: 20px;
    text-align: center;
}




.div .overlay {
    position: absolute;
    bottom: 0;
    height: 70px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    padding: 0 35px;
    right: 10%;
    width: 70%;
    background: #ffccff;
}
.div:hover .overlay {
    height: 20%;
}
.div .overlay .cta {
    padding: 10px 0;
    background: #eee;
    display: block;
    width: auto;
    position: absolute;
    margin-bottom: 0;
    text-align: center;
    /* ===== Add Transition to CTA ===== */
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    font-size: 16px;
    /* ===== Move bottom off screen ===== */
    bottom: -120px;
}
/* ===== Add :hover for CTA ===== */
.div:hover .cta {
    bottom: 20px;
}




/*slider custumilization*/

.custom-slider.rzslider .rz-bar {
    background: #ffe4d1;
    height: 2px;
}
.custom-slider.rzslider .rz-selection {
    background: orange;
}

.custom-slider.rzslider .rz-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
    display: none;
}

.custom-slider.rzslider .rz-bubble {
    bottom: 14px;
}



.custom-slider.rzslider .rz-tick {
    width: 2px;
    height: 30px;
    margin-left: 4px;
    border-radius: 0;
    background: #000;
    top: -30px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
    background: #000;
}

