.ng-view-frame {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
    background-color: #fff;
    margin-top: 350px;
}

.verkeer, .weather {
    margin-top: -300px;
    background-color: white;
}

.angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -150;
}

.margin_top_content {
    margin-top: 25px;
}

.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 139px;
}

.container {
    padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

.background_white {
    background-color: #fff;
}

.wheather-img {
    max-width: 400px;
}

/* TOP NAVBAR */

.top-navbar {
    background-color: #272727;
    margin-left: 140px;
    color: white;
}

.social-media-checklist ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.social-media-checklist ul li {
    display: inline-block;
    padding: 20px;
}

.social-media-checklist input[type='checkbox'] {
    margin-right: 7px;
}

.search-input {
    padding: 15px;
}

.btn-search {
    background-color: #ca2736;
    color: #EBEBEB;
}

.btn-search:hover {
    background-color: #b52330;
    color: #dedede;
}

.search-input input[type='text'] {
    height: 33px;
}

.results {
    background-color: white;
    color: black;
    position: absolute;
}

.results ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.results ul li {
    padding: 10px;
    cursor: pointer;
}

.results ul li:hover {
    background-color: #ca2736;
    color: #EBEBEB;
}

.results.col-md-11 {
    padding: 0;
}

/* HOMEPAGE */

.top-trending-list {
    background-color: white;
    /*height: 100%;*/
}

/* DETAIL PAGE */

.red {
    color: red;
}

.test {
    width: 400px;
    height: 400px;
    position: none;
    z-index: -10;
}

.detail-top-place {
    cursor: pointer;
}

/* VERKEER SECION 7 */
#verkeer-antwerpen h2, #verkeerscentrum-antwerpen h2, #ring-antwerpen h2 {
    text-align: center;
}

.verkeer .tweet {
    padding: 15px 5px;
}

.nav-tweets ul {
    list-style-type: none;
    padding: 0;

}

.nav-tweets ul li {
    display: inline-block;
    margin: 0 10px;
}

.nav-tweets {
    margin-top: 20px;
    text-align: center;
}



.time-slider-container {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    overflow: hidden;
    background-color: #000; color: #FFF;
    transition: all 1s;
}

.slider.close {
    top: 100px;
    height: 0;
}