@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .sidenav .icons, .sidenav .title  {
        display: none;
    }

    .sidenav {
        height: auto;
        border-bottom: none;
    }

    .left1 {
        margin-left: 0;
    }

    .top-trending {
        /*margin-left: -20px;*/
    }

    .subcategories-menu-wrapper {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        position: static;
    } 

    .section-wrapper, .poi-details-wrapper {
        margin-left: 0;
    }

    .poi-details, .poi-details .col-md-12 {
        padding-left: 0;
        padding-right: 0; 
    }

    .dropdownTest, .dropdownShow {
        left: 0;
        margin-left: 0;
    }

    .buienradar {
        height: 150px;
    }
}

.dropdownTest, .dropdownShow {
    margin-top: 55px;
}